body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    background-color: #ffb278;
    align-items: center;
    justify-content: center;
}

#main{
    box-sizing: border-box;
}

#up{
    box-sizing: border-box;
    background-color: #243441;
    width: 70%;
    height: 30vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
}


#ad{
    background-color: #243441;
    width: 80%;
    height: 30%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #ffff;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}


#input{
    background-color: #243441;
    width: 100%;
    height: 20%;
    margin-top: 100px;
    color: #ffff;
    border: none;
    font-size: 2rem;
    text-align: right;
}

#input::placeholder{
    text-align: right;
    color: white;
}

#down{
    box-sizing: border-box;
    background-color: #243441;
    width: 70%;
    height: 50vh;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

#norm-mode{
    font-size: 0.7rem;
    cursor: pointer;
    color: white;
}

#norm-mode:hover{
    color: #a7bfd359;
}

#sci-mode{
    font-size: 0.7rem;
    margin-left: 10%;
    cursor: pointer;
    color: white;
}

#sci-mode:hover{
    color: #a7bfd359;
}

#sci-btn{
    display: none;
}

button{
    color: white;
    width: 15%;
    height: 5vh;
    margin-bottom: 2%;
    cursor: pointer;
    background-color: #243441;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}

button:hover{
    background-color: #a7bfd359;
}

#hr{
    color: white;
}

#row1-btn, #row2-btn, #row3-btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#norm-btn{
    margin-top: 20px;
    width: 100%;
}



#row4-btn, #row5-btn, #row6-btn, #last2, #row7-btn{
    display: flex;
    justify-content: space-between;
}

#no-btn{
    cursor: auto;
    background-color: #243441;
    border: none;
    box-shadow: none;
}



